extend layout/index.pug

block contentPages
	div(class="section inner_page_header")
		div(class="container")
			div(class="row")
				div(class="col-lg-12")
					div(class="full")
						h3 About us
	div(class="section layout_padding")
		div(class="container")
			div(class="row")
				div(class="col-md-12")
					div(class="full")
						div(class="heading_main text_align_left")
							div(class="left")
								p(class="section_count") 01
							div(class="right")
								p(class="small_tag") About us
								h2
								span(class="theme_color") WE CAN HELP YOUR business GROW
								p(class="large") Get your Business in 4 easy steps
	div(class="section dark_bg")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-6 col-md-12 text_align_center padding_0")
					div(class="full")
						img(class="img-responsive" src="img/img-2png.png" alt="#")
				div(class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right")
					h3(class="small_heading") EVERYTHING YOU NEED IN ONE SOLUTION
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
					| The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					| content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
					| their default model..
	div(class="section layout_padding")
		div(class="container")
			div(class="row")
				div(class="col-md-12")
					div(class="full")
						div(class="heading_main text_align_left")
							div(class="left")
								p(class="section_count") 02
							div(class="right")
								p(class="small_tag") Portfolio
								h2 
									span(class="theme_color") CHOOSE A PROFESSIONAL DESIGN
								p(class="large") Websites
			div(class="row margin-top_30")
				div(class="col-lg-12 margin-top_30")
					div(id="demo" class="carousel slide" data-ride="carousel")
						// The slideshow --)
						div(class="carousel-inner")
							div(class="carousel-item active")
								div(class="row")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img1.png" alt="#")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img2.png" alt="#")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img3.png" alt="#")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img4.png" alt="#")
							div(class="carousel-item")
								div(class="row")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img1.png" alt="#")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img2.png" alt="#")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img3.png" alt="#")
									div(class="col-lg-3 col-md-6 col-sm-12")
										img(class="img-responsive" src="images/img4.png" alt="#")
						// Left and right controls --)
						a(class="carousel-control-prev" href="#demo" data-slide="prev")
							span(class="carousel-control-prev-icon")
						a(class="carousel-control-next" href="#demo" data-slide="next")
							span(class="carousel-control-next-icon")
						div(class="col-lg-12")
							p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their/p)
						div(class="col-lg-12")
							div(class="full center")
								a(href="about.html" class="hvr-radial-out button-theme") See More
								