extend layout/index.pug

block contentPages
  div(class="section inner_page_header")
    div(class="container")
      div(class="row")
        div(class="col-lg-12")
          div(class="full")
            h3 Contact
  div(class="section layout_padding")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="full")
            div(class="heading_main text_align_left")
              div(class="left")
                p(class="section_count") 01
              div(class="right")
                p(class="small_tag") Contact
                h2
                  span(class="theme_color") How to provide tools that help anyone give a voice to their ideas
      div(class="row margin-top_30")
        div(class="col-lg-7 col-sm-7 col-xs-12 margin-top_30")
          div(class="contact-block")
            form(id="contactForm")
              div(class="row")
                div(class="col-md-6")
                  div(class="form-group")
                    input(type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name")
                    div(class="help-block with-errors")
                div(class="col-md-6")
                  div(class="form-group")
                    input(type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email")
                    div(class="help-block with-errors")
                div(class="col-md-12")
                  div(class="form-group")
                    input(type="text" placeholder="Your number" id="number" class="form-control" name="number" required data-error="Please enter your number")
                    div(class="help-block with-errors")
                div(class="col-md-12")
                  div(class="form-group") 
                    textarea(class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required)
                    div(class="help-block with-errors")
                  div(class="submit-button text-center")
                    button(class="btn btn-common" id="submit" type="submit") Send Message
                    div(id="msgSubmit" class="h3 text-center hidden")
                    div(class="clearfix")
        div(class="col-lg-5 col-sm-5 col-xs-12 margin-top_30")
          div(class="left-contact")
            div(class="media cont-line")
              div(class="media-left icon-b")
                i(class="fa fa-location-arrow" aria-hidden="true" style="line-height: 52px;")
              div(class="media-body dit-right")
                h4 Address
                p Fleming 196 Woodside Circle Mobile, FL 36602
            div(class="media cont-line")
              div(class="media-left icon-b")
                i(class="fa fa-envelope" aria-hidden="true" style="line-height: 52px;")
              div(class="media-body dit-right")
                h4 Email
                a(href="#") demoinfo@gmail.com
                |
                .a(href="#") demoinfo@gmail.com
            div(class="media cont-line")
              div(class="media-left icon-b")
                i(class="fa fa-volume-control-phone" aria-hidden="true" style="line-height: 52px;")
              div(class="media-body dit-right")
                h4 Phone Number
                a(href="#") 12345 67890 
                |
                .a(href="#") 12345 67890