extends layout/index.pug

block contentPages
    div(class="section layout_padding")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    div(class="full")
                        div(class="heading_main text_align_left")
                            div(class="left")
                                p(class="section_count") 01
                            div(class="right")
                                p(class="small_tag") About us
                                h2 
                                    span(class="theme_color") WE CAN HELP YOUR business GROW
                                p(class="large") Get your Business in 4 easy steps
    
    div(class="section dark_bg")
        div(class="container-fluid")
            div(class="row")
                div(class="col-lg-6 col-md-12 text_align_center padding_0")
                    div(class="full")
                        img(class="img-responsive" src="img/img-2png.png" alt="#")

                div(class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right")
                    h3(class="small_heading") EVEReTHIN Gbr YOU NEED IN ONE SOLUTION
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                    |
                    |The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                    |content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
                    |their default model..
    
    div(class="section layout_padding")
        div(class="container")
            div(class="row")
                div(class="col-md-12")
                    div(class="full")
                        div(class="heading_main text_align_left")
                            div(class="left")
                                p(class="section_count") 02
                            div(class="right")
                                p(class="small_tag") SERVICES
                                h2(span class="theme_color") How to provide tools that help anyone give a voice to their ideas/h2)
                        
            div(class="row margin-top_30")
                div(class="col-sm-6 col-md-4")
                    div(class="service_blog")
                        div(class="service_icons")
                            img(width="75" height="75" src="img/icon-1.png" alt="#")
                        div(class="full")
                            h4 DIGITAL marketing
                        div(class="full")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)
                
                div(class="col-sm-6 col-md-4")
                    div(class="service_blog")
                        div(class="service_icons")
                            img(width="75" height="75" src="img/icon-2.png" alt="#")
                        div(class="full")
                            h4 DIGITAL marketing
                        div(class="full")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)
                
                div(class="col-sm-6 col-md-4")
                    div(class="service_blog")
                        div(class="service_icons")
                            img(width="75" height="75" src="img/icon-3.png" alt="#")
                        div(class="full")
                            h4 DIGITAL marketing
                        div(class="full")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)
                
                div(class="col-sm-6 col-md-4")
                    div(class="service_blog")
                        div(class="service_icons")
                            img(width="75" height="75" src="img/icon-4.png" alt="#")
                        div(class="full")
                            h4 DIGITAL marketing
                        div(class="full")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)
                    
                div(class="col-sm-6 col-md-4")
                    div(class="service_blog")
                        div(class="service_icons")
                            img(width="75" height="75" src="img/icon-5.png" alt="#")
                        div(class="full")
                            h4 DIGITAL marketing
                        div(class="full")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p)
                
                div(class="col-sm-6 col-md-4")
                    div(class="service_blog")
                        div(class="service_icons")
                            img(width="75" height="75" src="img/icon-6.png" alt="#")
                        div(class="full")
                            h4 DIGITAL marketing
                        div(class="full")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
	
  
    
block prepend contentPages 
    include includes/slider.pug