extend layout/index.pug

block contentPages
  div(class="section inner_page_header")
    div(class="container")
      div(class="row")
        div(class="col-lg-12")
          div(class="full")
            h3 Services
  div(class="section layout_padding")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="full")
            div(class="heading_main text_align_left")
              div(class="left")
                p(class="section_count") 01
              div(class="right")
                p(class="small_tag") SERVICES
                h2
                  span(class="theme_color") How to provide tools that help anyone give a voice to their ideas
      div(class="row margin-top_30")
        div(class="col-sm-6 col-md-4")
          div(class="service_blog")
            div(class="service_icons")
              img(width="75" height="75" src="img/icon-1.png" alt="#")
            div(class="full")
              h4 DIGITAL marketing
            div(class="full")
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p 
        div(class="col-sm-6 col-md-4")
          div(class="service_blog")
            div(class="service_icons")
              img(width="75" height="75" src="img/icon-2.png" alt="#")
            div(class="full")
              h4 DIGITAL marketing
            div(class="full")
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p 
        div(class="col-sm-6 col-md-4")
          div(class="service_blog")
            div(class="service_icons")
              img(width="75" height="75" src="img/icon-3.png" alt="#")
            div(class="full")
              h4 DIGITAL marketing
            div(class="full")
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p 
        div(class="col-sm-6 col-md-4")
          div(class="service_blog")
            div(class="service_icons")
              img(width="75" height="75" src="img/icon-4.png" alt="#")
            div(class="full")
              h4 DIGITAL marketing
            div(class="full")
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p 
        div(class="col-sm-6 col-md-4")
          div(class="service_blog")
            div(class="service_icons")
              img(width="75" height="75" src="img/icon-5.png" alt="#")
            div(class="full")
              h4 DIGITAL marketing
            div(class="full")
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p 
        div(class="col-sm-6 col-md-4")
          div(class="service_blog")
            div(class="service_icons")
              img(width="75" height="75" src="img/icon-6.png" alt="#")
            div(class="full")
              h4 DIGITAL marketing
            div(class="full")
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since/p 
  div(class="section layout_padding dark_bg")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="full")
            div(class="heading_main text_align_left white_fonts")
              div(class="left")
                p(class="section_count") 02
              div(class="right")
                h2 Create
                  span(class="theme_color") PERSONALISED Business
                p(class="large") What we done
      div(class="row margin-top_30 counter_section")
        div(class="col-sm-12 col-md-4")
          div(class="counter margin-top_30 text-center")
            h2(class="timer count-title count-number" style="width: 50%;" data-to="23" data-speed="1500")
            p(class="count-text") NOMINATIONS
        div(class="col-sm-12 col-md-4")
          div(class="counter margin-top_30 text-center")
            h2(class="timer count-title count-number" style="width: 50%;" data-to="7" data-speed="1500")
            p(class="count-text") AWARDS
        div(class="col-sm-12 col-md-4")
          div(class="counter margin-top_30 text-center")
            h2(class="timer count-title count-number" style="width: 50%;" data-to="31" data-speed="1500")
            p(class="count-text") AGENCIES