include ../includes/variables.pug
include ../includes/mixin.pug
doctype 5
html(ang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        // Mobile Meta --
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        // Site Meta
        title #{SiteName}
        //-Mixin Meta
        +All_meta
        //- Css Style
        include ../includes/style.pug
        //- End Css Style

    body(id="home" data-spy="scroll" class="inner_page" data-target="#navbar-wd" data-offset="98")
        // LOADER 
        div(id="preloader")
            div(class="loader")
                img(src="images/loader.gif" alt="#")
        // end loader 
        // END LOADER 
        // Start header 
        header(class="top-header")
            nav(class="navbar header-nav navbar-expand-lg")
                div(class="container-fluid")
                    a(class="navbar-brand" href="index.html")
                        img(src="img/logo.png" alt="image")
                        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation")
                            //For Loop
                            - for(var x = 0;x <= 3;x++)
                                span
                    div(class="collapse navbar-collapse justify-content-end" id="navbar-wd")
                        //Mixin
                        +main_nav_bar
                    div(class="search-box")
                        input(type="text" class="search-txt" placeholder="Search")
                        a(class="search-btn"): img(src="images/search_icon.png" alt="#")
        // End header 
        //- slider
        block contentPages
            div Not Found
        // Start Footer
        footer(class="footer-box")
            div(class="container")
                div(class="row")
                    div(class="col-md-12 margin-bottom_30")
                        img(src="img/f_logo.png" alt="#")
                    div(class="col-xl-6 white_fonts")
                        div(class="row")
                            div(class="col-md-12 white_fonts margin-bottom_30")
                                h3 Contact Us
                            div(class="col-md-4")
                                div(class="full icon")
                                    img(src="images/social1.png")
                                
                                div(class="full white_fonts"): p London 145 br United Kingdom
                                        
                            div(class="col-md-5")
                                div(class="full icon")
                                    img(src="images/social2.png")
                                
                                div(class="full white_fonts"): p consultation@gmail.com consultation@gmail.com
                                        
                            div(class="col-md-3")
                                div(class="full icon"): img(src="images/social3.png")
                                
                                div(class="full white_fonts"): p +7586656566 +7586656566
                                        
                        div(class="col-md-12")
                            // Mixin
                            +social_icon
                    div(class="col-xl-6 white_fonts")
                        div(class="row")
                            div(class="col-md-6")
                                div(class="footer_blog footer_menu")
                                    h3 Menus
                                    //-mixin
                                    +list_nav
                                div(class="footer_blog recent_post_footer")
                                    h3 Recent Post
                                    p Participate in staff meetings manage dedicated to marketing November 25, 2019/p)
                            div(class="col-md-6")
                                div(class="footer_blog full")
                                    h3 Newsletter
                                    div(class="newsletter_form")
                                        form(action="index.html")
                                        input(type="email" placeholder="Your Email" name="#" required) 
                                        button  Submit
        div(class="footer_bottom")
            div(class="container")
                div(class="row")
                    div(class="col-12")
                        p(class="crp") © 2019 Business . All Rights Reserved./p)
                        ul(class="bottom_menu")
                            li: a(href="#") Term of Service
                            li: a(href="#") Privacy
        a(href="#" id="scroll-to-top" class="hvr-radial-out") 
            i(class="fa fa-angle-up" style="line-height: 38px;")
        //- Start Include Scripts
        //- js scripts
        // Mixin ANd Includes
        include ../includes/scripts.pug
        //- End js scripts
        //ALL JS FILES