//- mixin ul_list(counter,class_name,content)
//-  for(var x = 0;x <= counter;x++)
//-   li(class=class_name} content

mixin li(content)
 li content

mixin list_nav 
  ul
    li
      a(href="index.html") Home
    li
      a(href="about.html") About Us
    li
      a(href="services.html") Services
    li 
      a(href="#") Blog
    li
      a(href="contact.html") Contact us

mixin social_icon
  ul(class="full social_icon margin-top_20")
    li 
      a(href="#")
        i(class="fa fa-facebook-f")
    li 
      a(href="#")
        i(class="fa fa-twitter")
    li
      a(href="#")
        i(class="fa fa-linkedin")
    li 
      a(href="#") 
        i(class="fa fa-google-plus")

mixin main_nav_bar
  ul(class="navbar-nav")
    li
      a(class="nav-link active" href="index.html") Home
    li
      a(class="nav-link" href="about.html") About us
    li
      a(class="nav-link" href="services.html") Services
    li
      a(class="nav-link" href="#") Blog
    li
      a(class="nav-link" href="contact.html") Contact
    li
      a(class="nav-link active" style="background:#f2184f;color:#fff;" href="#") Sin up

mixin All_meta
  meta(name="keywords" content="")
  meta(name="description" content="")
  meta(name="author" content="")