
div(class="ulockd-home-slider")
    div(class="container-fluid")
        div(class="row")
            div(class="pogoSlider" id="js-main-slider")
                div(class="pogoSlider-slide" style="background-image:url(img/banner-img.png);")
                    div(class="container")
                        div(class="row")
                            div(class="col-md-12")
                                div(class="slide_text")
                                    h3 Trusted and br Professional Advisers
                                    h4 
                                        span(class="theme_color") For your Business/span)
                                    p Showcase your Profile to the world using online CV builder and Get Hired Faster
                                    a(class="contact_bt" href="about.html") About us
                                
                div(class="pogoSlider-slide" style="background-image:url(img/banner-img.png);")
                    div(class="container")
                        div(class="row")
                            div(class="col-md-12")
                                div(class="slide_text")
                                    h3 Trusted andbr Professional Advisers
                                    h4 
                                        span(class="theme_color") For your Business
                                    p Showcase your Profile to the world using online CV builder and Get Hired Faster
                                        a(class="contact_bt" href="about.html") About 
                    // .pogoSlider 
        // End Banner 