//Site Icons 
link(rel="shortcut icon" href="#" type="image/x-icon")
link(rel="apple-touch-icon" href="#")

// Bootstrap CSS 
link(rel="stylesheet" href="css/bootstrap.min.css")
// Pogo Slider CSS 
link(rel="stylesheet" href="css/pogo-slider.min.css")
// Site CSS 
link(rel="stylesheet" href="css/style.css")
// Responsive CSS 
link(rel="stylesheet" href="css/responsive.css")
// Custom CSS 
link(rel="stylesheet" href="css/custom.css")
//[if lt IE 9]