- array = ["js/jquery.min.js","js/popper.min.js","js/bootstrap.min.js","js/jquery.magnific-popup.min.js","js/jquery.pogo-slider.min.js","js/slider-index.js","js/smoothscroll.js","js/form-validator.min.js","js/contact-form-script.js","js/isotope.min.js","js/images-loded.min.js","js/custom.js","js/main.js"]
- SiteName = "Learn Pug Template Engin"